@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

// Fonts
$inter_tight: "Inter Tight", sans-serif;

// Colors
$bg: #ffffff;
$bg_secondary: #030712;
$text_primary: #030712;
$text_secondary: #B6BCC6;
$text_white_primary: #ffffff;
$text_white_secondary: #6b7280;
$accent: #030712;
$card: #EBEBEB;
