@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
.section-intro,
.section-works {
  display: flex;
  flex-direction: column;
}

.section-skills {
  display: flex;
}

.section-intro .greetings {
  font-size: 22px;
  font-weight: 500;
  color: #030712;
  margin-bottom: 16px;
}
.section-intro .basic-bio {
  font-size: 104px;
  font-weight: 700;
  color: #030712;
  margin-bottom: 56px;
}
.section-intro .basic-bio span {
  color: #B6BCC6;
}
.section-intro .contact-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.section-intro .contact-page .contact {
  padding: 24px 48px;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  border: 1px solid #030712;
  background-color: #030712;
  border-radius: 1000px;
  transition: all 0.2s ease;
}
.section-intro .contact-page .contact svg {
  width: 28px;
  height: 28px;
}
.section-intro .contact-page .contact svg path {
  stroke: #ffffff;
  transition: all 0.2s ease;
}
.section-intro .contact-page .contact:hover {
  color: #030712;
  background-color: #ffffff;
  gap: 16px;
}
.section-intro .contact-page .contact:hover svg path {
  stroke: #030712;
}
.section-intro .contact-page .contact-desc {
  font-size: 22px;
  font-weight: 400;
  color: #374151;
}

.section-works .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.section-works .top .section-title {
  color: #030712;
  font-weight: 600;
}
.section-works .top .works {
  font-weight: 600;
  font-size: 16px;
  border-radius: 100000px;
  color: #030712;
  background-color: transparent;
  padding: 16px 20px;
  border: 1px solid #030712;
  display: flex;
  gap: 12px;
  align-items: center;
  opacity: 1;
  transition: all 0.2s ease;
}
.section-works .top .works svg {
  width: 24px;
  height: 24px;
}
.section-works .top .works svg path {
  stroke: #030712;
}
.section-works .top .works:hover {
  opacity: 0.6;
}
.section-works .all-works {
  width: 100%;
  list-style-type: none;
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-wrap: wrap;
}
.section-works .all-works .work {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
}
.section-works .all-works .work .work-img-cont {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background-color: #EBEBEB;
  overflow: hidden;
  opacity: 1;
  transition: all 0.2s ease;
}
.section-works .all-works .work .work-img-cont:hover {
  opacity: 0.6;
}
.section-works .all-works .work .work-img-cont .work-img {
  width: 100%;
  height: auto;
}
.section-works .all-works .work .work-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-works .all-works .work .work-desc .left .work-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}
.section-works .all-works .work .work-desc .left .work-type {
  font-size: 18px;
  font-weight: 400;
}
.section-works .all-works .work .work-desc .work-view-more {
  border: 1px solid #030712;
  border-radius: 10000px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.section-works .all-works .work .work-desc .work-view-more svg path {
  stroke: #030712;
}
.section-works .all-works .work .work-desc .work-view-more:hover {
  opacity: 0.6;
}
.section-works .works-mb {
  width: 100%;
  font-weight: 600;
  border-radius: 100000px;
  font-size: 16px;
  color: #030712;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  border: 1px solid #030712;
  display: flex;
  gap: 12px;
  align-items: center;
  opacity: 1;
  transition: all 0.2s ease;
}
.section-works .works-mb svg {
  width: 24px;
  height: 24px;
}
.section-works .works-mb svg path {
  stroke: #030712;
}
.section-works .works-mb:hover {
  opacity: 0.6;
}

.section-skills {
  align-items: flex-end;
  justify-content: space-between;
}
.section-skills .left {
  flex: 1;
}
.section-skills .left .skills-heading {
  font-family: 600;
  color: #030712;
}
.section-skills .left .skills-desc {
  font-family: 400;
  color: #374151;
  margin-bottom: 32px;
}
.section-skills .left .about {
  padding: 16px 20px;
  border: 1px solid #030712;
  color: #030712;
  border-radius: 10000px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  background-color: transparent;
  opacity: 1;
  transition: all 0.3 ease;
}
.section-skills .left .about svg {
  width: 24px;
  height: 24px;
}
.section-skills .left .about svg path {
  stroke: #030712;
}
.section-skills .left .about:hover {
  opacity: 0.6;
}
.section-skills .skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section-skills .skills .skill .skill-name {
  font-size: 16px;
  font-weight: 500;
  color: #4b5563;
  text-transform: uppercase;
}

.section-lang-tool {
  overflow-x: auto;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section-lang-tool .lang-tools {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
  list-style-type: none;
  padding: 0px 72px 0px 0px;
  margin: 0;
  animation: spin 50s infinite linear;
}
.section-lang-tool .lang-tools .lang-tool {
  flex: 0 0 max-content;
  height: 100%;
}
.section-lang-tool .lang-tools .lang-tool img {
  height: 100%;
  width: auto;
  display: block;
  filter: grayscale(100%);
  opacity: 0.5;
}
.section-lang-tool::-webkit-scrollbar {
  display: none;
}

.section-recognition .inner-section {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.section-recognition .inner-section .left .recognition-main-title {
  font-weight: 600;
  color: #030712;
}
.section-recognition .inner-section .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section-recognition .inner-section .right .recognition .recognition-title {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 600;
  color: #030712;
}
.section-recognition .inner-section .right .recognition .recognition-type {
  font-weight: 400;
  color: #030712;
  text-transform: uppercase;
  font-size: 18px;
}
.section-recognition .inner-section .right .recognition-divider {
  background-color: #B6BCC6;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}

.section-divider {
  padding: 0px !important;
  background-color: #B6BCC6;
  height: 1px !important;
  opacity: 0.5;
}

.section-get-in-touch {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.section-get-in-touch .query-desc {
  color: #030712;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.section-get-in-touch .query-title {
  color: #030712;
  font-weight: 700;
  text-align: center;
}
.section-get-in-touch .query-title span {
  color: #B6BCC6;
}
.section-get-in-touch .contact {
  color: #030712;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  transition: all 0.2s ease;
}
.section-get-in-touch .contact:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 1025px) {
  .section-intro .greetings {
    font-size: 22px;
    font-weight: 500;
  }
  .section-intro .basic-bio {
    font-size: 104px;
    font-weight: 700;
  }
  .section-intro .contact-page .contact-desc {
    max-width: 520px;
    width: 100%;
  }
  .section-works {
    gap: 56px;
  }
  .section-works .top .section-title {
    font-size: 40px;
  }
  .section-works .all-works {
    row-gap: 72px;
  }
  .section-works .all-works .work {
    width: calc(33.33% - 24px);
  }
  .section-works .all-works .work .work-view-more {
    padding: 16px 28px;
  }
  .section-works .all-works .work .work-view-more svg {
    width: 24px;
    height: 24px;
  }
  .section-skills .left {
    flex: 1;
  }
  .section-skills .left .skills-heading {
    font-size: 72px;
    margin-bottom: 24px;
  }
  .section-skills .left .skills-desc {
    font-size: 18px;
  }
  .section-skills .left .about {
    width: -moz-max-content;
    width: max-content;
  }
  .section-skills .skills {
    width: -moz-max-content;
    width: max-content;
  }
  .section-skills .skills .skill-name {
    text-align: right;
  }
  .section-full {
    padding: 48px 0px;
  }
  .section-recognition .inner-section {
    gap: 112px;
  }
  .section-recognition .inner-section .left {
    width: 215px;
  }
  .section-recognition .inner-section .left .recognition-main-title {
    font-size: 40px;
  }
  .section-recognition .inner-section .right {
    gap: 24px;
  }
  .section-get-in-touch .query-title {
    font-size: 104px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section-intro .greetings {
    font-size: 22px;
    font-weight: 500;
  }
  .section-intro .basic-bio {
    font-size: 104px;
    font-weight: 700;
  }
  .section-intro .contact-page {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-intro .contact-page .contact-desc {
    max-width: 100%;
    width: 100%;
  }
  .section-works {
    gap: 56px;
  }
  .section-works .top .section-title {
    font-size: 40px;
  }
  .section-works .all-works {
    row-gap: 32px;
  }
  .section-works .all-works .work {
    width: calc(50% - 24px);
  }
  .section-works .all-works .work .work-view-more {
    padding: 16px 28px;
  }
  .section-works .all-works .work .work-view-more svg {
    width: 24px;
    height: 24px;
  }
  .section-skills .left {
    flex: 1;
  }
  .section-skills .left .skills-heading {
    font-size: 72px;
    margin-bottom: 24px;
  }
  .section-skills .left .skills-desc {
    font-size: 18px;
  }
  .section-skills .left .about {
    width: -moz-max-content;
    width: max-content;
  }
  .section-skills .skills {
    width: -moz-max-content;
    width: max-content;
  }
  .section-skills .skills .skill-name {
    text-align: right;
  }
  .section-full {
    padding: 48px 0px;
  }
  .section-recognition .inner-section {
    gap: 40px;
    flex-direction: column;
  }
  .section-recognition .inner-section .left {
    width: 100%;
  }
  .section-recognition .inner-section .left .recognition-main-title {
    font-size: 40px;
  }
  .section-recognition .inner-section .right {
    width: 100%;
    gap: 24px;
  }
  .section-get-in-touch .query-title {
    font-size: 104px;
  }
}
@media only screen and (max-width: 767px) {
  .section-intro .greetings {
    font-size: 22px;
    font-weight: 500;
  }
  .section-intro .basic-bio {
    font-size: 60px;
    font-weight: 700;
  }
  .section-intro .contact-page {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-intro .contact-page .contact {
    width: 100%;
    justify-content: center;
  }
  .section-intro .contact-page .contact-desc {
    max-width: 100%;
    width: 100%;
  }
  .section-works {
    gap: 32px;
  }
  .section-works .top .section-title {
    font-size: 28px;
  }
  .section-works .all-works {
    row-gap: 32px;
  }
  .section-works .all-works .work {
    width: 100%;
  }
  .section-works .all-works .work .work-view-more {
    padding: 12px 24px;
  }
  .section-works .all-works .work .work-view-more svg {
    width: 20px;
    height: 20px;
  }
  .section-skills {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
  .section-skills .left {
    flex: 1;
  }
  .section-skills .left .skills-heading {
    font-size: 52px;
    margin-bottom: 16px;
  }
  .section-skills .left .skills-desc {
    font-size: 18px;
  }
  .section-skills .left .about {
    width: 100%;
    justify-content: center;
  }
  .section-skills .skills {
    width: -moz-max-content;
    width: max-content;
  }
  .section-skills .skills .skill-name {
    text-align: left;
  }
  .section-full {
    padding: 40px 0px;
  }
  .section-lang-tool .lang-tools {
    height: 30px;
  }
  .section-recognition .inner-section {
    gap: 40px;
    flex-direction: column;
  }
  .section-recognition .inner-section .left {
    width: 100%;
  }
  .section-recognition .inner-section .left .recognition-main-title {
    font-size: 28px;
  }
  .section-recognition .inner-section .right {
    width: 100%;
    gap: 24px;
  }
  .section-get-in-touch .query-title {
    font-size: 60px;
  }
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}/*# sourceMappingURL=index.css.map */